header {
    background-color: #00edaa;
    margin: 0%;
    padding: 10px;
    text-align: left;
    width: 100%;
    height: 100px;
    position: relative;
    box-shadow: #003a23 3px;
}

footer {
    background-color: #00edaa;
    margin: 0%;
    padding: 10px;
    text-align: left;
    width: 100%;
    height: 150px;
    box-shadow: #003a23 3px;
    position: relative
}

h1 {
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    color: #8a8d00;
    text-shadow: #005f49
}

aside {
    float: right;
    width: 200px;
    height: 200px;
    background-color: #00edaa;
    margin: 10px;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    position: sticky;
}

main {
    background-color: #6bffd5;
    margin: 0%;
    padding: 10px;
    text-align: left;
    width: 83%;
}
h2{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    color: #004b2d;
    text-shadow: #005f49
}
h3{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    color: #288d00;
    text-shadow: #005f49
}
a{
    font-size: medium;
    color: darkblue;
}